@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body{
    background-color: #52489c;
}


header{
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    color: #ebebeb;
    list-style-type: none;
}
h1 {
    font-size: 50px;
    margin-bottom: -1rem;
}

nav {
    text-align: center;
}
.menu-items {
    display: none;
}
button {
    background: none; 
    border: none; 
    font: inherit;
    font-size: xx-large;
    color: #ebebeb;
}
ul, ul li a {
    list-style-type: none;
    color: #ebebeb;
    font-size: x-large;
}

main {
    width: 100%;
    padding: 10px;
    background-color: var(--text-light);
    text-align: center;
}

.gallery{
    max-width: 1000px;
    margin: 0 auto;
}

img {
	max-width: 100%;
    object-fit: cover;
    border: solid 5px white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}


footer {
    background-color: var(--primary-color);
    text-align: center;
    color: #ebebeb;
}



@media screen and (max-width: 679px) {

    .menu.open::before {
        content: "❌";
    }
    .open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .viewer {
        position: fixed;
        display: grid;
        place-items: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .close-viewer {
        color: white;
        position: absolute;
        bottom: 550px;
        right: 10px; 
    }
    .viewer img{
        object-fit: contain; 
        border: none;
        box-shadow: none;
    }
    .viewer img {
        max-height: 100%;
        max-width: 100%;
    }

}

@media screen and (min-width: 690px) {

    .viewer {
        position: fixed;
        display: grid;
        place-items: center;
        top: 25%;
        left: 25%;
        bottom: 25%;
        right: 25%;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .close-viewer {
        color: white;
    }

    .viewer img {
        max-height: 100%;
        max-width: 100%;
        border: solid 30px rgba(0, 0, 0, 0.75);
        object-fit: contain; 
        box-shadow: none; 
    }
    
    .gallery {
        display: grid;    
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .menu-items {
        display: flex;
        justify-content: center;
    }

    ul li {
        display: inline-block;
        padding: 10px;
    }
}