
body{
    background-color: #52489c;
}

header {
    text-align: center;
}
h1{
    font-size: 45px;
    padding: 20px;
    color: white;
}
h2{
    color: white;
}

nav {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
}
ul {
    grid-column: 3;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: end;
    justify-items: end;
}
ul, ul li a {
    list-style-type: none;
    color: #ebebeb;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.left-side{
    text-align: right;
    margin-right: 6rem;
}
.left-side div{
    border-right: 3px solid white;
    padding-right: 20px;
    margin-bottom: 2rem;
}
.left-side div p {
    margin-bottom: -8px;
}


img {
    max-width: 300px;
    height: auto;
    padding: 10px;
}
.left-side, .middle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#doa {
    font-size: 20px;
    color: white;
}
p {
    color: white;
}
.middle{
    margin-top: -8px;
}
.middle div img {
    display: block;
    margin: 0 auto;
}


.right-side{
    border: 3px solid white;
}

